.episodio-list{
}

.episodio-list-item{
  display: flex;
  align-items: center;
  color: #fff;
  /* border-bottom: 0.1px solid red !important; */
  cursor: pointer;
  padding: 10px 0px;
}

.episodio-list-item:hover{
  background: rgba(0, 0, 0, 0.2);
}

.episodio-list-item.active{
  background: rgba(0, 0, 0, 0.2);
}

.episodio-list-item img{
  height: 40px;
  margin-right: 20px;
}
