.anime{
  grid-template-columns: 1fr 1fr 1fr 1fr;
  max-width: 250px;
  margin: 10px;
  background: rgba(255, 255, 255, 0.04);
  border-radius: 10px;
  transition: 0.4s ease-out;
}

.anime:hover{
  transform: translateY(-10px)
}

.anime:hover + .anime-imagem {
  opacity: 0.7;
}

.anime-imagem {
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  max-height: 300px;
}

.anime-nome {
  padding: 0 10px 10px;
  word-break: break-all;
  font-size: 15px;
  color: #eee;
}