.anime-title {
  display: flex;
  align-items: center;
}
.anime-detail-content{
  margin-top: 20px !important;
}

.anime-detail-image{
  width: 100%;
}

.back-button {
  color: #fff;
  background: rgba(255,255, 255, 0.3);
  padding: 10px;
  margin-right: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  transition: 0.5s ease;
}

.description {
  font-size: 15px;
  padding: 0;
  margin: 0;
  text-align: justify;
}

.control-buttons{
  display: flex;
  justify-content: space-between;
}

.modal-content {
  overflow: hidden !important;
}

.modal-background {
  background-color: rgba(10,10,10,0.94);
}

.player-content {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}