@import '../node_modules/bulma/css/bulma.min.css';
@import '../node_modules/video-react/dist/video-react.css';

html, body {
  margin: 0px;
  background:#222 ;
  color: #fff;
  font-family: monospace;
}

.titlebar{
  -webkit-app-region: drag;
  height: 30px;
  position: fixed;
  top: 0;
  left: 0;
  background: #111;
  width: 100%;
  z-index: 10000000 !important;
  opacity: 1;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 10px;;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}